<a href="https://colab.research.google.com/github/Mohanpgadala/python-assessment2/blob/main/python%20assessment%203%2C4%2C5%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Operators:**
Operators are divided into the following groups:
*   Arithmetic operators
*  Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [ ]:
# @title Addition
a=int(input())
b=int(input())
print(a+b)

5
8
13

In [ ]:

a=int(input())
b=int(input())
c=a+b
print(c)

2
3
5

In [ ]:
# @title Subtraction

a=int(input())
b=int(input())
print(a-b)

5
2
3

In [ ]:
a=int(input())
b=int(input())
print(a-b)

2
5
-3

In [ ]:
# @title Multiplication
a=int(input())
b=int(input())
c=a*b
print(c)

5
6
30

In [ ]:
a=int(input())
b=int(input())
print(a*b)

2
5
10

In [ ]:
# @title Division
a=int(input())
b=int(input())
c=a/b
print(c)

5
2
2.5

In [ ]:
a=int(input())
b=int(input())
print(a/b)

2
3
0.6666666666666666

In [ ]:
# @title Modulus
a=int(input())
b=int(input())
c=a%b
print(c)

5
8
5

In [ ]:
a=int(input())
b=int(input())
print(a%b)

8
5
3

In [ ]:
# @title Exponentiation
a=int(input())
b=int(input())
c=a**b
print(c)

2
3
8

In [ ]:
a=int(input())
b=int(input())
print(a**b)

4
2
16

In [ ]:
# @title Floor division
a=int(input())
b=int(input())
c=a**b
print(c)

3
2
9

In [ ]:
a=int(input())
b=int(input())
print(a//b)

4
2
2

**Assignment operators:**
Assignment operators are used to assign values to variables:
* =
* +=
* -=
* *=
* /=
* %=
* //=
* **=
* &=
* |=
* ^=
* >>=
* <<=
* :=

In [ ]:
# @title =
a=int(input())
b=a
print(b)

6
6

In [ ]:
# @title +=
a=int(input())
a += 4
print(a)

6
10

In [ ]:
# @title -=
a=int(input())
a -= 4
print(a)

6
2

In [ ]:
# @title *=
a=int(input())
a *= 4
print(a)

2
8

In [ ]:
# @title /=
a=int(input())
a /= 4
print(a)

7
1.75

In [ ]:
# @title %=
a=int(input())
a %= 4
print(a)

8
0

In [ ]:
# @title **=
a=int(input())
a **= 4
print(a)

2
16

In [ ]:
# @title //=
a=int(input())
a //= 4
print(a)

5
1

In [ ]:
# @title &=
a=int(input())
a &= 3
print(a)

6
2

In [ ]:
# @title |=
a=int(input())
a |= 3
print(a)

5
7

In [ ]:
# @title ^=
a=int(input())
a ^= 3
print(a)

2
1

In [ ]:
# @title >>=
a=int(input())
a >>= 4
print(a)

3
0

In [ ]:
# @title <<=
a=int(input())
a <<= 4
print(a)

3
48

In [ ]:
# @title :=
x=int(input())
print(x := 3)

5
3

**Comparison operators:** Comparison operators are used to compare two values:
* Equal(==)
* Not equal(!=)
*  Greater than(>)
* Less than(<)
* Greater than or equal to(>=)
* Less than or equal to(<=)

In [ ]:
# @title Equal(==)
a=int(input())
b=int(input())
print(a==b)

4
4
True

In [ ]:
# @title Not equal(!=)
a=int(input())
b=int(input())
print(a!=b)

4
4
False

In [ ]:
# @title Greater than(>)
a=int(input())
b=int(input())
print(a>b)

5
3
True

In [ ]:
# @title Less than(<)
a=int(input())
b=int(input())
print(a<b)

2
3
True

In [ ]:
# @title Greater than or equal to(>=)
a=int(input())
b=int(input())
print(a>=b)

2
5
False

In [ ]:
# @title Less than or equal to(<=)
a=int(input())
b=int(input())
print(a<=b)

2
2
True

**Logical Operators:**Logical operators are used to combine conditional statements:
* and
* or
* not

In [ ]:
# @title and
x = int(input())

print(x > 3 and x < 10)

5
True

In [ ]:
# @title or
x = int(input())

print(x > 3 or x < 10)

2
True

In [ ]:
# @title not
x = int(input())


print(not(x > 3 and x < 10))

5
False

**Identity Operators:**Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:
* is
* is not

In [ ]:
# @title is
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

In [ ]:
# @title is not
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is not y)
print(x == y)

False
True
True

**Membership Operators:**Membership operators are used to test if a sequence is presented in an object:
* in
* not in

In [ ]:
# @title in
x = ["apple", "banana"]
y=input()

print(y in x)

apple
True

In [ ]:
# @title not in
x = ["apple", "banana"]
y=input()

print(y not in x)

apple
False

**Bitwise Operators:**Bitwise operators are used to compare (binary) numbers:
*  	AND(&)
*	OR(|)
*	XOR(^)
*	NOT(~)
*	Zero fill left shift(<<)
*	Signed right shift(>>)

In [ ]:
# @title AND(&)
a=int(input())
b=int(input())
print(a&b)

6
3
2

In [ ]:
# @title OR(|)
a=int(input())
b=int(input())
print(a|b)

6
3
7

In [ ]:
# @title XOR(^)
a=int(input())
b=int(input())
print(a^b)

6
3
5

In [ ]:
# @title *	Zero fill left shift(<<)
a=int(input())
b=int(input())
print(a<<b)

6
3
48

In [ ]:
# *	Signed right shift(>>)
a=int(input())
b=int(input())
print(a>>b)

6
3
0

In [ ]:
# @title NOT(~)
a=int(input())

print(~a)

5
-6

**List**
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
# ExampleGet your own Python Server
# Create a List:

l = ["apple", "banana", "cherry"]
print(l)

['apple', 'banana', 'cherry']

**List Items:**
* List items are ordered, changeable, and allow duplicate values.

* List items are indexed, the first item has index [0], the second item has index [1] etc.
* List items can be of any data type
*list1 = ["abc", 34, True, 40, "male"]*

**Ordered:**
* When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

* If you add new items to a list, the new items will be placed at the end of the list.

**Changeable:**
* The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

**Allow Duplicates:**
* Since lists are indexed, lists can have items with the same value.
**type():**
From Python's perspective, lists are defined as objects with the data type 'list':

<class 'list'>

**list() Constructor:**
* It is also possible to use the list() constructor when creating a new list.

Example
Using the list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets

print(thislist)
List Methods
Python has a set of built-in methods that you can use on lists.

**List Methods:**
* append()	- Adds an element at the end of the list
* clear()	Removes all the elements from the list
* copy()	Returns a copy of the list
* count()	Returns the number of elements with the specified value
* extend()	Add the elements of a list (or any iterable), to the end of the current list
* index()	Returns the index of the first element with the specified value
* insert()	Adds an element at the specified position
* pop()	Removes the element at the specified position
* remove()	Removes the item with the specified value
* reverse()	Reverses the order of the list
* sort()	Sorts the list

In [ ]:

# @title append
l = ["apple", "banana", "cherry"]
l.append("orange")
print(l)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
l = ["apple", "banana", "cherry"]
l[0]="orange"
print(l)

['orange', 'banana', 'cherry']

In [ ]:
# @title clear
l = ['apple', 'banana', 'cherry', 'orange']

l.clear()
print(l)

[]

In [ ]:
# @title insert
l = ["apple", "banana", "cherry"]
l.insert(1, "orange")
print(l)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
# @title Change the second value by replacing it with two new values:

l = ["apple", "banana", "cherry"]
l[1:2] = ["blackcurrant", "watermelon"]
print(l)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
# @title copy() method:

l = ["apple", "banana", "cherry"]
l1 = l.copy()
print(l1)

['apple', 'banana', 'cherry']

In [ ]:
# @title count
l = ['apple', 'banana', 'cherry',"cherry"]

x = l.count("cherry")
print(x)

2

In [ ]:
# @title extend
l = ['apple', 'banana', 'cherry']

l1 = ['Ford', 'BMW', 'Volvo']

l.extend(l1)
print(l)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [ ]:
# @title index
Animals= ["cat", "dog", "tiger"]

print(Animals.index("dog"))

1

In [ ]:
# @title pop
l = ['apple', 'banana', 'cherry']

l.pop(1)
print(l)

['apple', 'cherry']

In [ ]:
l = ['apple', 'banana', 'cherry']

l.pop()
print(l)

['apple', 'banana']

In [ ]:
# @title remove
l = ['apple', 'banana', 'cherry']

l.remove("banana")
print(l)

['apple', 'cherry']

In [ ]:
# @title reverse
l = ["nano", "swift", "bolero", "BMW"]
l1 = list(reversed(l))
print(l1)

['BMW', 'bolero', 'swift', 'nano']

In [ ]:
l = ["nano", "swift", "bolero", "BMW"]
print(l[::-1])

['BMW', 'bolero', 'swift', 'nano']

In [ ]:
# @title sort
list = [2,4,5,32,6,255,5,42]
list.sort()
print(list)

[2, 4, 5, 5, 6, 32, 42, 255]

**Arithmetic Operators:**
Arithmetic operators are used with numeric values to perform common mathematical operations:
* Addition(+)
* Subtraction(-)
*	Multiplication(*)
* Division(/)
* Modulus(%)
* Exponentiation	(**)
*	Floor division(//)

**Strings:**
 Collection of characters


Strings in python are surrounded by either single quotation marks, or double quotation marks.


'hello' is the same as "hello".

You can display a string literal with the print() function:

**Example 1:**
Get your own Python Server

print("Hello")

print('Hello')
**Example 2:**
a = "Hello"

print(a)


**String Methods:**Python has a set of built-in methods that you can use on strings.

* capitalize()	- Converts the first character to upper case
* casefold()	- Converts string into lower case
* center()-	Returns a centered string
* count()-	Returns the number of times a specified value occurs in a string
* encode()-	Returns an encoded version of the string
* endswith()-	Returns true if the string ends with the specified value
* expandtabs()-	Sets the tab size of the string
* find()	-Searches the string for a specified value and returns the position where it was found
* format()-	Formats specified values in a string
* format_map()-	Formats specified values in a string
* index()-	Searches the string for a specified value and returns the position of where it was found
* isalnum()-	Returns True if all characters in the string are alphanumeric
* isalpha()-	Returns True if all characters in the string are in the alphabet
* isascii()-	Returns True if all characters in the string are ascii characters
* isdecimal()-	Returns True if all characters in the string are decimals
* isdigit()	-Returns True if all characters in the string are digits
* isidentifier()-	Returns True if the string is an identifier
* islower()-	Returns True if all characters in the string are lower case
* isnumeric()-	Returns True if all characters in the string are numeric
* isprintable()-	Returns True if all characters in the string are printable
* isspace()-	Returns True if all characters in the string are whitespaces
* istitle()-	Returns True if the string follows the rules of a title
* isupper()	-Returns True if all characters in the string are upper case
* join()-	Converts the elements of an iterable into a string
* ljust()-	Returns a left justified version of the string
* lower()-	Converts a string into lower case
* lstrip()	-Returns a left trim version of the string
* maketrans()-	Returns a translation table to be used in translations
* partition()-	Returns a tuple where the string is parted into three parts
* replace()-	Returns a string where a specified value is replaced with a specified value
* rfind()-	Searches the string for a specified value and returns the last position of where it was found
* rindex()-	Searches the string for a specified value and returns the last position of where it was found
* rjust()-	Returns a right justified version of the string
* rpartition()-	Returns a tuple where the string is parted into three parts
* rsplit()	-Splits the string at the specified separator, and returns a list
* rstrip()-	Returns a right trim version of the string
* split()	-Splits the string at the specified separator, and returns a list
* splitlines()	-Splits the string at line breaks and returns a list
* startswith()	-Returns true if the string starts with the specified value
* strip()	-Returns a trimmed version of the string
* swapcase()-	Swaps cases, lower case becomes upper case and vice versa
* title()	-Converts the first character of each word to upper case
* translate()-	Returns a translated string
* upper()	-Converts a string into upper case
* zfill()-	Fills the string with a specified number of 0 values at the beginning

In [ ]:
# @title capitalize
M = "hello, and welcome to my world."

N = M.capitalize()

print (N)

Hello, and welcome to my world.

In [ ]:
# @title Casefold
M = "Hello, And Welcome To My World!"

x = M.casefold()

print(x)

hello, and welcome to my world!

In [ ]:
# @title center
M = "banana"
x = M.center(20)
print(x)

       banana

In [ ]:
# @title count
N = ['cherry','apple','cherry', 'banana', 'cherry']

x = N.count("cherry")
print(x)

3

In [ ]:
# @title encode
M = "My name is Ståle"
x = M.encode()
print(x)

b'My name is St\xc3\xa5le'

In [ ]:
# @title endswith
M = "Hello, welcome to my world."
N = M.endswith("@")
print(N)

False

In [ ]:
M = "Hello, welcome to my world."
N = M.endswith(".")
print(N)

True

In [ ]:
# @title expandtabs
M = "H\te\tl\tl\to"

N =  M.expandtabs(2)

print(N)

H e l l o

In [ ]:
# @title find
M = "Hello, welcome to my world."
N = M.find("welcome")
print(N)

7

In [ ]:
# @title format
M = "For only {price:.2f} dollars!"
print(M.format(price = 49))

For only 49.00 dollars!

In [ ]:
M = "For only {price} dollars!"
print(M.format(price = 49))

For only 49 dollars!

In [ ]:
# @title index
M= ["cat", "dog", "tiger"]
print(M.index("dog"))

1

In [ ]:
# @title isalnum
M = "Company12"

x = M.isalnum()

print(x)

True

In [ ]:
M = "2435461$"

x = M.isalnum()

print(x)

False

In [ ]:
# @title isalpha
M = "CompanyX"

x = M.isalpha()

print(x)

True

In [ ]:
M = "Com11panyX"

x = M.isalpha()

print(x)

False

In [ ]:
# @title isascii
M = "Company123"

x = M.isascii()

print(x)

True

In [ ]:
# @title isdecimal
M = "1234"
x = M.isdecimal()
print(x)

True

In [ ]:
M = "1P234"
x = M.isdecimal()
print(x)

False

In [ ]:
# @title isdigit
M = "50800"
x = M.isdigit()
print(x)

True

In [ ]:
M = "50HG800"
x = M.isdigit()
print(x)

False

In [ ]:
# @title isidentifier
M= "Demo"
x = M.isidentifier()
print(x)

True

In [ ]:
M = "123MOHAN"
x = M.isidentifier()

print(x)

False

In [ ]:
# @title islower
M = "hello world!"
x = M.islower()
print(x)

True

In [ ]:
M = "Mhello world!"
x = M.islower()
print(x)

False

In [ ]:
# @title isnumeric
t = "565543"

x = t.isnumeric()

print(x)

True

In [ ]:
t= "iujisld565543"

x = t.isnumeric()

print(x)

False

In [ ]:
# @title isprintable
M = "Hello! Are you #1?"
x = M.isprintable()
print(x)

True

In [ ]:
# @title isspace
m = "   "
x = m.isspace()
print(x)

True

In [ ]:
m = " fg tfygj   "
x = m.isspace()
print(x)

False

In [ ]:
# @title istitle
t = "Hello, And Welcome To My World!"
x = t.istitle()
print(x)

True

In [ ]:
t = "hello, And Welcome To My World!"
x = t.istitle()
print(x)

False

In [ ]:
# @title isupper
t = "THIS IS NOW!"
x = t.isupper()
print(x)

True

In [ ]:
t = "thIS IS NOW!"
x = t.isupper()
print(x)

False

In [ ]:
# @title JOIN
T = ("John", "Peter", "Vicky")

x = "#".join(T)

print(x)

John#Peter#Vicky

In [ ]:
# @title ljust
t = "banana"
x = t.ljust(20)
print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
# @title rjust
t = "banana"
x = t.rjust(20)
print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [ ]:
# @title lower
t = "Hello my FRIENDS"
x = t.lower()
print(x)

hello my friends

In [ ]:
# @title lstrip
t = "     banana     "
x = t.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [ ]:
# @title maketrans
t = "Hello Sam!"
m = str.maketrans("S", "P")
print(t.translate(m))

Hello Pam!

In [ ]:
# @title partition
t = "I could eat bananas all day"
x = t.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
# @title replace
t = "I like bananas"
x = t.replace("bananas", "apples")
print(x)

I like apples

In [ ]:
# @title rfind
t = "Mi casa, su casa."
x = t.rfind("casa")
print(x)

12

In [ ]:
t = "Mi casa, su casa, Mi casa, su casa."
x = t.rfind("casa")
print(x)

30

In [ ]:
# @title rindex
t = "Mi casa, su casa. mi the fschgz ca casa "
x = t.rindex("casa")
print(x)

35

In [ ]:
# @title rjust
t = "banana"
x = t.rjust(20)
print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [ ]:
# @title rpartition
t = "I could eat bananas all day, apples are my favorite frui and  bananas are also my favorite fruit"
x = t.rpartition("bananas")
print(x)

('I could eat bananas all day, apples are my favorite frui and  ', 'bananas', ' are also my favorite fruit')

In [ ]:
# @title rsplit
t = "apple, banana, cherry"
x = t.rsplit(", ")
print(x)

['apple', 'banana', 'cherry']

In [ ]:
# @title rstrip
t = "     banana     "
x = t.rstrip()
print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [ ]:
# @title split
t = "welcome to the jungle"
x = t.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
# @title splitlines
t = "Thank you for the music\nWelcome to the jungle"

x = t.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
# @title startswith
t = "Hello, welcome to my world."
x = t.startswith("Hello")
print(x)

True

In [ ]:
t = "Hello, welcome to my world."
x = t.startswith("hello")
print(x)

False

In [ ]:
# @title strip
t = "     banana     "
x = t.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
# @title swapcase
t = "Hello My Name Is PETER"
x = t.swapcase()
print(x)

hELLO mY nAME iS peter

In [ ]:
# @title title
t = "Welcome to my world"
x = t.title()
print(x)

Welcome To My World

In [ ]:
# @title translate
t = "Hello Sam!"
e = str.maketrans("S", "P")
print(t.translate(e))

Hello Pam!

In [ ]:
# @title upper
t = "Hello my friends"

x = t.upper()

print(x)

HELLO MY FRIENDS

In [ ]:
# @title zfill
t = "50"
x = t.zfill(10)
print(x)

0000000050

**Tuple**
* Tuples are used to store multiple items in a single variable.

*  Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

* A tuple is a collection which is ordered and unchangeable.

* Tuples are written with round brackets.

In [ ]:
M = ("apple", "banana", "cherry")
print(M)

('apple', 'banana', 'cherry')

**Tuple Items**
* Tuple items are ordered, unchangeable, and allow duplicate values.

* Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**
* When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**
* Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates**
* Since tuples are indexed, they can have items with the same value

In [ ]:
# @title DUPLICATE
t = ("apple", "banana", "cherry", "apple", "cherry")
print(t)

('apple', 'banana', 'cherry', 'apple', 'cherry')

**Tuple Length**
* To determine how many items a tuple has, use the len() function:

In [ ]:
# @title length
t = ("apple", "banana", "cherry", "apple", "cherry")
print(len(t))

5

**Create Tuple With One Item**
* To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
# @title One item tuple,remember the comma:
t = ("apple",)
print(type(t))

#NOT a tuple
t = ("apple")
print(type(t))

<class 'tuple'>
<class 'str'>

**Tuple Items - Data Types**
Tuple items can be of any data type:
**Example:**
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1,tuple2,tuple3)

In [ ]:
# @title tuple_example
tuple1 = ("abc", 34, True, 40, "male")
print(type(tuple1))
print(tuple1)

<class 'tuple'>
('abc', 34, True, 40, 'male')

**Access Tuple Items**
You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
# @title access tuple item
t = ("apple", "banana", "cherry")
print(t[1])

banana

**Negative Indexing**
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
# @title negative indexing
t = ("apple", "banana", "cherry")
print(t[-1])

cherry

**Range of Indexes**
* You can specify a range of indexes by specifying where to start and where to end the range.

* When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
# @title ranges of indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

**Python - Update Tuples**
* Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

* But there are some workarounds.

**Change Tuple Values**
* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

* But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
# @title Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**Add Items**
* Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

**Example**
* Convert the tuple into a list, add "orange", and convert it back into a tuple:

  thistuple = ("apple", "banana", "cherry")

  y = list(thistuple)
  y.append("orange")

  thistuple = tuple(y)


2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

**Example**
* Create a new tuple with the value "orange", and add that tuple:

  thistuple = ("apple", "banana", "cherry")

  y = ("orange",)
  thistuple += y

  print(thistuple)

**Remove Items**


* Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [ ]:
# @title remove
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

**delete items**
* you can delete the tuple completely:

In [ ]:
# @title delete
thistuple = ("apple", "banana", "cherry")
del (thistuple)
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

**Unpack Tuples:**

**Unpacking a Tuple**
* When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
*But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
# @title  packing a tuple
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [ ]:
# @title unpacking
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

**Loop Through a Tuple**
* You can loop through the tuple items by using a for loop.

In [ ]:
# @title tuple items using a for loop
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

**Loop Through the Index Numbers**
* You can also loop through the tuple items by referring to their index number.


* Use the range() and len() functions to create a suitable iterable.

In [ ]:
# @title Loop Through the Index Numbers
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

**Using a While Loop**
* You can loop through the tuple items by using a while loop.

* Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

* Remember to increase the index by 1 after each iteration.

In [ ]:
# @title tuple using while loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

**Join Tuples:**

**Join Two Tuples**
* To join two or more tuples you can use the + operator:

In [ ]:
# @title Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Multiply Tuples**
* If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [ ]:
# @title Multiply the fruits tuple by 2
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

**Tuple Methods**
* Python has two built-in methods that you can use on tuples.
* count() -	Returns the number of times a specified value occurs in a tuple
* index()-	Searches the tuple for a specified value and returns the position of where it was found

In [ ]:
# @title tuple_count
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [ ]:
# @title tuple_index
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3